@import url('https://fonts.googleapis.com/css?family=Coiny');

html, body{
    height: 100%;
    margin: 0;
    }

header{
    background-color: white;;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

section{
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section img{
    width:50%;
}

section .article-content{
    width: 50%;

}


#formation{
    background-color: whitesmoke;

    }

/*******
* EXPERIENCE
*/ 

#experiences{
    background-color: thistle;
    min-height: 170%;
    display: flex;
    flex-direction: column;
}

a{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
}

#xp-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#experiences article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#autres-activites{
    background-color: silver;
    }

#contact-me{
    background-color: seashell;
    flex-direction: row-reverse;
    margin-bottom: 75px;
}


h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}


div{
    text-align: justify;
}

#me{
    animation: enter 2s ease-in-out 1 alternate;
}

@keyframes enter {
    from{
        transform:translateX(-300px);
    }
    to{
        transform:translateX(0px);
    }
}



