/** RESPONSIVE **/
/*MOBILE*/
@media screen and (max-width:600px) {
    section{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    article{
        width: 80%;
    }
}

/*TABLET*/
@media screen and (max-width:900px) and (min-width:600px) {
    article{
        width: 37%;
    }
}

#home{
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home a{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
}