body{
    margin: 0px;
}
#home{
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 75px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mes-creations-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: gray;
}
.mes-creations-1 img{
    width: 50%;
    filter: grayscale(100%)
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lemonchiffon;
    margin: 0%;
    padding: 10px;
}



.mes-creations-1 img:hover{
    filter: grayscale(0%);
    transition: all 0.3s cubic-bezier(0.01,.4,1,.62);
}

